<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
    {% if current_user %}
    <div> <p>Hello {{current_user.nickname()}}</p> </div>
    <br>
    {% endif %}
    <div><b>The questions I asked</b></div>
    {% for question in questions %}
    <div>
      <p><b><a href="/answer?question_id={{question.key.id()}}">{{question.title}}: </a></b></p>
      <p>{{question.content|replace_html|safe}}</p>
      <div>
          <input type=submit name="name" value="up">&nbsp;{{question.up}}&nbsp;&nbsp;&nbsp;&nbsp;
          <input type=submit name="name" value="down">&nbsp;{{question.down}}
      </div>

      <form action="/add?question_id={{question.key.id()}}" method="post">
      <div>
        <textarea name="title" required rows="1" cols="60">{{question.title}}</textarea><br>
        <textarea name="content" required rows="3" cols="60">{{question.content}}</textarea><br>
        <input type=submit value="Edit this question">
      </div>
      </form>
 
      
      <hr>
    </div>
    {% endfor %}


    <div><b>The answers I provided</b></div>
      {% for answer in answers %}
      <div>
        <p>In question:<a href="/answer?question_id={{answer.parent_id}}"><b>{{ answer.question_title }}</b></a></p>
        <p>I answered:</P>
        <p>{{answer.content|replace_html|safe}}</p>
        <div>
            <input type=submit name="name" value="up">&nbsp;{{answer.up}}&nbsp;&nbsp;&nbsp;&nbsp;
            <input type=submit name="name" value="down">&nbsp;{{answer.down}}
        </div>
        
        <form action="/addA?question_id={{answer.parent_id}}&answer_id={{ answer.key.id() }}" method=post>
          <div>
            <textarea name="content" rows="3" cols="60">{{answer.content}} </textarea><br>
            <input type=submit value="Edit this answer">
          </div>
        </form>  
        <hr>
      </div>
      {% endfor %}

    <p class="main"><br><br><font size="3"><b>Uploaded Images:</b></font>
    <a href="/upload">+ Upload an Image</a>
    <ul>
    {% for img in images %}
    <li>{{ "http://localhost:8080/img/" ~ img.url }}
     | <a href= "/img/ {{ img.url }}">View Image</a>
     | {{ img.date }}
     | <a href="{{ "/img/delete/" ~ img.key.id() }}">Delete</a>
    {% endfor %}
    </ul></p>

      
    <a href="/">Go Back To Main Page</a>

  </body>
</html>
{% endautoescape %}