<!DOCTYPE html>
{% autoescape true %}
<html>
  <!-- [START head_html] -->
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <!-- [END head_html] -->
  <body>
    {% set id= question.key.id() %}
    {% if current_user %}
    <div> <p>Hello {{current_user.nickname()}}</p> </div>
    <br>
    {% endif %}
    <div>
      <p><b>{{question.title}}: </b></p>
      <p>{{question.content}}</p>
      {% if (current_user == question.author) %}
      <form action="/add?question_id={{id}}" method=post>
      <div>
        <textarea name="content" required rows="3" cols="60"></textarea><br>
        <input type=submit value="Edit this question">
      </div>
      </form>
      {% endif %}

      <form action="/vote?question_id={{ id }}" method="post">
          <div>
            <input type=submit name="name" value="up">&nbsp;{{question.up}}&nbsp;&nbsp;&nbsp;&nbsp;
            <input type=submit name="name" value="down">&nbsp;{{question.down}}
          </div>
        </form>
  
    </div>
    <hr>

      {% for answer in answers %}
        <b>{{ answer.author.nickname() }}</b> answered:
        <p>{{answer.content}}</p>

        {% if (current_user == answer.author) %}
          <form action="/addA?question_id={{id}}&answer_id={{ answer.key.id() }}" method=post>
          <div>
            <textarea name="content" required rows="3" cols="60"></textarea><br>
            <input type=submit value="Edit this answer">
          </div>
          </form>
        {% endif %}
        
        <form action="/vote?question_id={{ id }}&answer_id={{ answer.key.id() }}" method="post">
          <div>
            <input type=submit name="name" value="up">&nbsp;{{answer.up}}&nbsp;&nbsp;&nbsp;&nbsp;
            <input type=submit name="name" value="down">&nbsp;{{answer.down}}
          </div>
        </form>
        <hr>
      {% endfor %}
    {% if next_page_url %}
      <a href="{{next_page_url}}"> Next Page</a>
    {% endif %}
      
    <form action="/addA?question_id={{ id }}" method="post">
      <div><p>Your Answer</p><textarea name="content" required rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Submmit Answer"></div>
    </form>
    <br>
    <a href="/">Go Back To Main Page</a>

  </body>
</html>
{% endautoescape %}