{% extends "header.html" %}
<!DOCTYPE html>
{% block title %}View Question{% endblock %}
{% block content %}

    <br>
    <font size="5">
    <h2><p class="bg-primary">QUESTIONS I ASKED:</p><h2>
    {% for question in questions %}
      <p><b><a href="/answer?question_id={{question.key.id()}}">{{question.title}}: </a></b></p>
      <p>{{question.content|replace_html|safe}}</p>
      <div>
          <input type=submit name="name" value="up">&nbsp;{{question.up}}&nbsp;&nbsp;&nbsp;&nbsp;
          <input type=submit name="name" value="down">&nbsp;{{question.down}}
      </div>
      <p>I asked on {{question.date.strftime('%d-%m-%Y/%H:%M')}}</p>

      <form action="/add?question_id={{question.key.id()}}" method="post">
        <textarea name="title" required rows="1" cols="60">{{question.title}}</textarea><br>
        <textarea name="content" required rows="3" cols="60">{{question.content}}</textarea><br>
        <input type=submit value="Edit Now">
      </form>
      <hr>
    {% endfor %}
    </font>


    <h2><p class="bg-primary">ANSWERS I PROVIDED:</p></h2>
      {% for answer in answers %}
      <div>
        <p>In question:<a href="/answer?question_id={{answer.parent_id}}"><b>{{ answer.question_title }}</b></a></p>
        <p>I answered on {{answer.date.strftime('%d-%m-%Y/%H:%M')}}</P>
        <p>{{answer.content|replace_html|safe}}</p>
        <div>
            <input type=submit name="name" value="up">&nbsp;{{answer.up}}&nbsp;&nbsp;&nbsp;&nbsp;
            <input type=submit name="name" value="down">&nbsp;{{answer.down}}
        </div>
        
        <form action="/addA?question_id={{answer.parent_id}}&answer_id={{ answer.key.id() }}" method=post>
          <div>
            <textarea name="content" rows="3" cols="60">{{answer.content}} </textarea><br>
            <input type=submit value="Edit my answer">
          </div>
        </form>  
        <hr>
      </div>
      {% endfor %}
      <br>

    <h2><p class="bg-primary">IMAGES:</p></h2>
    <p class="main"><br><br><font size="3"><b>Uploaded Images:</b></font>
    <a href="/upload">+ Upload an Image</a>
    <ul>
    {% for img in images %}
    <li>{{ "http://alex-4-ost.appspot.com/img/" ~ img.url }}
     | <a href= "{{"/img/" ~ img.url }}">View Image</a>
     | {{ img.date }}
     | <a href="{{ "/img/delete/" ~ img.key.id() }}">Delete</a>
    {% endfor %}
    </ul></p>

 {% endblock %}